@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: #000000;
  --foreground-rgb: #ffffff;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
