
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(255, 255, 255);
  background: #131313;
}

h1 {
  margin-top: 5vh;
  font-size: 5vh;
  background: linear-gradient(180deg, #BDBDBD 0%, #FFF 100%);
  background-clip: text;
}

div {
  margin: 15vh;
}